.conta {
    width: 100%;
    padding: 1px;
    color: #fff;
}

table, tr, th {
    border-collapse: collapse;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    color: #fff;
    background-color: #282c34;
    padding: 15px;
}

table, tr, td {
    border-collapse: collapse;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    color: #000000;
    background-color: #fff;
}

table > tfoot > tr > td {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    color: #fff;
    background-color: #282c34;
    padding: 15px;
}

table {
    width: 100%;
}