.header{  
    background-color: #FA784A;
    text-align: left;   
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: #fff;   
    margin-left: 40px;
}

.btnSair{  
    margin-right: 40px;
    display: flex;
}
.btnSair h4{    
    color: #fff;
    margin-right: 10px;
}