.cardLogin{
    padding: 20px;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    min-height: 300px;
    background-color: #282c34;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cardLogin h2 {
    color: #fff;
}

.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  /* Set a style for all buttons */
