.conta {
    width: 90%;
    padding: 1px;
    color: #000000;
    margin-left: 5%; 
}

table, tr, th {
    border-collapse: collapse;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    color: #fff;
    background-color: #61dafb;;
    padding: 15px;
}

table, tr, td {
    border-collapse: collapse;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    color: #000000;
    background-color: #fff;
    border: 1px solid rgb(153, 153, 153);;
}
tr:nth-child(even){background-color: #664141;}

table > tfoot > tr > td {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    color: #fff;
    background-color: #61dafb;;
    padding: 15px;
}

table {
    width: 90%;
    margin-left: 5%;
}

.conta-mobile{
    display: none;
}

@media screen and (max-width: 600px) {

    .conta{
        display: none;
    }
    

    .conta-mobile{
        display: block;
    }
    

}